<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}"></head>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <body>
    <main class="container" style="width: auto">
      <h2>Вход</h2>

      <div
        th:if="${error}"
        style="color: red; margin-bottom: 10px"
        th:text="${error}"
      ></div>

      <form method="post" th:action="@{/login}" th:object="${loginForm}">
        <label for="username">
          Имя пользователя
          <input
            type="text"
            id="username"
            th:field="*{username}"
            th:aria-invalid="${#fields.hasErrors('username') ? 'true' : ''}"
            required
          />
          <small
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            style="color: red"
          ></small>
        </label>

        <label for="password">
          Пароль
          <input
            type="password"
            id="password"
            th:field="*{password}"
            th:aria-invalid="${#fields.hasErrors('password') ? 'true' : ''}"
            required
          />
          <small
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            style="color: red"
          ></small>
        </label>

        <button type="submit">Войти</button>
      </form>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
