<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container">
    <h2>Создать новое событие</h2>
    <form th:action="@{/events/add}" th:object="${createEventForm}" method="post">
        <label>Название
            <input type="text" th:field="*{title}" >
            <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
        </label>

        <label>Описание
            <textarea th:field="*{description}"></textarea>
        </label>

        <label>Варианты ответа</label>
        
        <div th:each="option, stat : *{options}" style="display: flex; gap: 10px; margin-bottom: 10px; align-items: center;">
            
            <input type="text" 
                   th:field="*{options[__${stat.index}__]}" 
                   placeholder="Введите вариант..." 
                   style="margin-bottom: 0;">
            
            <button type="submit" 
                    name="removeOption" 
                    th:value="${stat.index}" 
                    class="outline secondary" 
                    style="width: auto; padding: 5px 10px; margin-bottom: 0;">
                X
            </button>
            
            <small class="text-danger" 
                   th:if="${#fields.hasErrors('options[' + stat.index + ']')}" 
                   th:errors="*{options[__${stat.index}__]}"></small>
        </div>

        <button type="submit" name="addOption" class="secondary outline" formnovalidate>
            + Добавить вариант
        </button>

        <label>Дата окончания приёма предсказаний
            <input type="datetime-local" th:field="*{closesAt}" >
            <small class="text-danger" th:if="${#fields.hasErrors('closesAt')}" th:errors="*{closesAt}"></small>
        </label>

            <button type="submit" style="width: 50%; display: block; margin: 0 auto; padding: 5px 15px;">Создать</button>
    </form>
</main>
</body>
</html>