<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title></title>
     <!--<link rel="stylesheet" th:href="@{/css/style.css}"> -->

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container">
    <article class="text-center">
        <hgroup>
            <h1>Добро пожаловать в систему предсказаний на разные события со всего мира!</h1>
            <p>Современное приложение на Spring Boot</p>
        </hgroup>
    </article>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
